<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>

    <%= link_to "Get Back To Training", posts_path %>


        <li>
          <% @posts.each do |f| %>
            <a class="err" href='/posts/<%=f.id%>'> <%= f.title%>

        </li>
<br>
<br>



    <% end %>



  </body>
</html>
