<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1> <%= link_to "Get Back To Training", posts_path %> </h1>
<h2>
    <% @posts.each do |f| %>

    <ul>
        <li>
            <a href='/posts/<%=f.id%>'> <%= f.title%>

        </li>
    </ul>

    <% end %>
</h2>

  </body>
</html>
