
*{
  box-sizing:border-box;
}

body{
font-family: "Helvetica Neue", sans-serif;
font-family: verdana, arial, helvetica, sans-serif;
font-size: 13px;
line-height: 17px;
margin: auto;
background-image: url('images/FullSizeRender.jpg');
background-attachment: fixed;
background-repeat: no-repeat;
background-position: 55% 30%;
justify-content: center;
background-color: black;
background-size:cover;
/* Preserve aspet ratio */
 min-width: 90%;
 min-height: 90%;
 background-size: 1300px 1150px;

}

/* Center the loader */
#loader {
  position: relative;
  z-index: 1;
  display: block;
  margin: auto;
  border: 16px double silver;
  border-radius: 50%;
  border-top: 16px double rgb(0, 176, 41);
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;

}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 3s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

ul{
  background-color: green;
  border-radius: 20px;
}

#map_canvas{
  width: 500px;
  height: 250px;
  display: block;
  position: relative;
  margin: auto;
}

#myInput{
  width: 450px;
  text-align: center;
  display: inline-block;
}

#user_email{
  background-color: black;
  color: silver;
  border-width: thick;
  border-color: green;
  border-style: double;
  width: 200px;
}

#user_password{
  background-color: black;
  color: silver;
  border-width: thick;
  border-color: green;
  border-style: double;
  width: 200px;
}

#user_password_confirmation{
  background-color: black;
  color: silver;
  border-width: thick;
  border-color: green;
  border-style: double;
  width: 200px;
}


#show1{
  text-align: center;
  margin: auto;
  position: relative;
  justify-content: center;
  display: block;

}
h1 {
    text-align: center;
    text-decoration: underline;
    color: silver;
    border-radius: 15px;
    font-size: 33px;
    display: block;
    margin: auto;
    width: 550px;
    height: 35px;
    background-color: black;
    position: relative;
    text-align: center;
    justify-content: center;
    -webkit-animation: myfirst 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: myfirst 5s linear 10s infinite alternate;


    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: example;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    /* Standard syntax */
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color:rgb(0, 176, 41); left:0px; top:0px;}
    25%  {background-color:rgb(0, 176, 41); left:200px; top:0px;}
    50%  {background-color:black; left:200px; top:25px;}
    75%  {background-color:rgb(0, 176, 41); left:200px; top:25px;}
    100% {background-color:rgb(0, 176, 41); left:200px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:rgb(0, 176, 41); left:0px; top:0px;}
    25%  {background-color:rgb(0, 176, 41); left:200px; top:0px;}
    50%  {background-color:black; left:200px; top:25px;}
    75%  {background-color:black; left:-200px; top:25px;}
    100% {background-color:rgb(0, 176, 41); left:-200px; top:0px;}
}


h2{
  text-align: center;

  color: silver;
  font-weight: bolder;
  text-outline: 2px red;
  background-color: black;
  padding: 12px;
  margin: 40px;
  box-sizing: border-box;
  border: 15px inset;
  border-radius: 100px;
  border-top-color: rgb(0, 176, 41);
  border-left-color: silver;
  border-right-color: rgba(225, 225, 225, .5);
  border-bottom-color: rgb(0, 176, 41);

}

h3{
  text-align: center;
  color: black;
  background-color: black;
  padding: 10px;
  margin: 40px;
  box-sizing: border-box;
  border: 15px inset;
  border-radius: 100px;
  border-top-color: rgb(0, 176, 41);
  border-left-color: silver;
  border-right-color: rgba(225, 225, 225, .5);
  border-bottom-color: rgb(0, 176, 41);
  animation: pulse 9s infinite;
  -webkit-text-stroke: 1px silver;
  text-align: center;
  font-size: 20px;
  margin-left: 140px;
  margin-right: 140px;
}

h4{
  text-align: center;
  color: black;
  text-decoration: underline;
  width: 490px;
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

h5{
background-image: url(https://pbs.twimg.com/profile_images/755013009005768704/XsPcv__-.jpg);
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
background-position: 10% 38%;
font-size: 30px;
height: 175px;
}

h6{
  font-size: 14px;
  text-align: center;
  color: silver;
  font-weight: bolder;
  text-outline: 2px red;
  background-color: black;
  padding: 12px;
  margin: 40px;
  box-sizing: border-box;
  border: 15px inset;
  border-radius: 100px;
  border-top-color: rgb(0, 176, 41);
  border-left-color: silver;
  border-right-color: rgba(225, 225, 225, .5);
  border-bottom-color: rgb(0, 176, 41);

}

time{
  font-size:.8em;
  font-style:italic;
  color: #666;
}

label,
input[type="text"],
textarea{
  width:100%;
  font:inherit;
  display:block;
}

.comments{
  margin-left:2em;
  padding:2em 0;
}

.comments > div{
  background: #eee;
  padding:1em;
  margin-top:1em;
}

div.gif{
  display: inline-block;
  text-align: center;
  margin: auto;
  border-bottom: 20%;

}

a{
  color: silver;
  text-align: center;
  display: block;
  position: relative;
  margin: auto;
  font-size: 17px;
  text-align: center;
  border-radius: 15px;
  text-decoration: underline;
}

a:hover{
  background-color: yellow;
  height: 25px;
  border-radius: 15px;
  font-size: 20px;
  color: black;
  animation: pulse .8s infinite;
  -webkit-text-stroke: 2px yellow;
}

#cal:hover{
  background-color: rgb(0, 176, 41);
  font-size: 26px;
  animation: pulse .3s infinite;
  -webkit-text-stroke: 2px yellow;

}
#set:hover{
  background-color: rgb(0, 176, 41);
  font-size: 26px;
  animation: pulse .3s infinite;
  -webkit-text-stroke: 2px yellow;

}
#set{
  background-color: silver;
  border-radius: 2px;
  border-color: green;
 border-width: thick;
}
#cal{
    background-color: silver;
    border-radius: 2px;
    border-color: green;
    border-width: thick;
}

#matrix{
  display: inline-flex;
  text-align: center;
}

header{
  background-color: black;
  color: red;
  text-align: center;
  height: auto;
  width: auto;
}

main {
    flex: 1;
    margin: 20px auto;
    max-width: 900px;
    width: 900px;
}

.action, .recognized {
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
    width:80%;
}
.action {
    text-align: center;
    background-color: black;
    margin:auto;
    border-radius: 5px 5px 0 5px;
}
.action:after {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 18px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    bottom: 0px;
    right: -17px;
    text-align: center;
    display: block;

}
.recognized {
    text-align: center;
    background-color: black;
    font-weight: bold;
    border-radius: 18px;
    display: block;
    position: relative;
    margin: auto;
}
.recognized:after {
    content:"";
    position: relative;
    width: 0;
    height: 0;
    border-width: 18px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    bottom: 0px;
    text-align: center;
    display: block;
    margin: auto;
}
.recognized > div:before {
    content: open-quote
}
.recognized > div:after {
    content: close-quote
}
#conversation {
    padding: 20px;
    text-align: center;
    display: block;
    position: relative;
    margin: auto;
}
#conversation::before {
    content:"";
    height: 1px;
    width: 200px;
    background-color: black;
    display: block;
    margin: 10px auto;
}
#conversation img {
    margin-top: 5px;
    display: block;
    text-align: center;
    width: 350px;
    height: 300px;
}

img#selector {
      width:100%;
      height:100%;
    }

input{
  color: rgb(0, 176, 41);
  width: 135px;
  height: 40px;
  border-radius: 18px;
  background-color: black;
  font-size: 22px;
  text-align: center;
  border-width: thick;
  border-style: groove;
  border-style: ridge;
}

footer{
  text-align: center;
  background-color: black;
  color: blue;
}
#button1:hover{
    background-color: rgb(0, 176, 41);
    font-size: 30px;
    animation: pulse .5s infinite;
    -webkit-text-stroke: 2px yellow;

}
button{
  font-size: 22px;
  background-color: rgb(0, 176, 41);
  width: 200px;
  border-radius: 15px;
  animation: pulse 10s infinite;
  -webkit-text-stroke: 2px silver;
  box-sizing: border-box;
  padding: 10px;
  width: 50%;
  cursor: crosshair;
  border: 10px solid silver;
  border-style: outset;
  border-color: silver;
  color: silver;
  text-align: center;
}

#button2:hover{
    background-color: rgb(0, 176, 41);
    font-size: 30px;
    animation: pulse .4s infinite;
    -webkit-text-stroke: 2px yellow;
}
#button3:hover{
  background-color: rgb(0, 176, 41);
  font-size: 30px;
  animation: pulse .4s infinite;
  -webkit-text-stroke: 2px yellow;

}
#button4:hover{
  background-color: rgb(0, 176, 41);
  font-size: 30px;
  animation: pulse .4s infinite;
  -webkit-text-stroke: 2px yellow;
}
#button5:hover{
  background-color: rgb(0, 176, 41);
  font-size: 30px;
  animation: pulse .4s infinite;
  -webkit-text-stroke: 2px yellow;

}
#button6:hover{
    background-color: rgb(0, 176, 41);
    font-size: 30px;
    animation: pulse .5s infinite;
    -webkit-text-stroke: 2px yellow;

}
#button7:hover{
    background-color: rgb(0, 176, 41);
    font-size: 30px;
    animation: pulse .5s infinite;
    -webkit-text-stroke: 2px yellow;
}

img{
  height: 400px;
  width: 500px;
  text-align: center;
  display: block;
  margin: auto;
}
.newbuttons{
    display: none;
}

#show1.hidden.newbuttons{
    display: block;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 600px;
    position: relative;
    height:600px;
}

div.controls{
  text-align: center;
  font-size: 30px;
  color: silver;
  min-width: 375px;
  background-color: rgb(0, 176, 41);
  margin: 120px;
  box-sizing: border-box;
  border: 15px inset;
  border-radius: 100px;
  border-top-color: rgb(0, 176, 41);
  border-left-color: silver;
  border-right-color: rgba(225, 225, 225, .5);
  border-bottom-color:rgb(0, 176, 41);
  animation: pulse 15s infinite;
  -webkit-text-stroke: 2px yellow;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#timer{
text-align: center;
position: relative;
font-size: 33px;
color: black;
text-decoration: underline;
width: 350px;
display: inline-block;
justify-content: center;
margin-top: 10px;
}

#reset:hover{
  background-color: silver;
  font-size: 30px;
  animation: pulse .5s infinite;
  -webkit-text-stroke: 2px yellow;
}

#pause:hover{
  background-color: red;
  font-size: 30px;
  animation: pulse .5s infinite;
  -webkit-text-stroke: 2px yellow;
}

#start:hover{
  background-color: green;
  font-size: 30px;
  animation: pulse .5s infinite;
  -webkit-text-stroke: 2px yellow;

}

div#hide{
  text-align: center;
}

@keyframes pulse {
  0% {
    text-shadow: 4px 4px 3px rgba(255, 255, 255, .3);
    background-color: black;
  }
  25% {
    text-shadow: 4px 4px 3px rgba(255, 0, 0, .3);
    background-color: black;
  }
  50% {
    text-shadow: 4px 4px 3px rgba(55, 55, 55, .3);
    background-color: black;
  }
  75% {
    text-shadow: 4px 4px 3px rgba(255, 0, 0, .3);
    background-color: black;
  }

}*/
@-webkit-keyframes myfirst {
 0%   {background-color:rgb(0, 176, 41); left:0px; top:0px;}
 25%  {background-color:black; left:200px; top:0px;}
 50%  {background-color:rgb(0, 176, 41); left:200px; top:20px;}
 75%  {background-color:rgb(0, 176, 41); left:0px; top:20px;}
 100% {background-color:rgb(0, 176, 41); left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst {
 0%   {background-color:rgb(0, 176, 41); left:0px; top:0px;}
 25%  {background-color:black; left:200px; top:0px;}
 50%  {background-color:rgb(0, 176, 41); left:200px; top:20px;}
 75%  {background-color:rgb(0, 176, 41); left:0px; top:20px;}
 100% {background-color:black; left:0px; top:20px;}
}

form{
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
p{
  font-size: 19px;
}

#convert{
border: 18px inset;
border-radius: 100px;
border-top-color: rgb(0, 176, 41);
border-left-color: silver;
border-right-color: rgba(225, 225, 225, .5);
border-bottom-color: rgb(0, 176, 41);
animation: pulse 15s infinite;
-webkit-text-stroke: 2px rgb(0, 176, 41);
text-align: center;
font-size: 22px;
background-color: black;
margin-top: 20px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    display: block;
    margin: auto;
    text-align: center;
    position: relative;
    background-color: #4CAF50;
    border: 19px;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 300px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration:none;
    overflow: hidden;
    cursor: crosshair;
    margin-bottom: 33px;
    box-sizing:content-box;
    border-color: silver;
    border-style: groove;
}

.dropbtn:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.dropbtn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.dropdown {
    position: relative;
    display: block;
    margin: auto;
}

.dropdown-content {
    display: none;

    margin: auto;
    justify-content: center;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content  {
    color: black;
    padding: 12px 16px;
    text-decoration: none;

    margin: auto;
    position: relative;
    text-align: center;
}

.dropdown-content a:hover {
  background-color: silver;
  margin: auto;
  display: block;
  position: relative;
}


.dropdown:hover .dropdown-content {
  margin: auto;
    display: block;
    position: relative;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    display: block;
    text-align: center;
    margin: auto;
}
* {
    box-sizing: border-box;
}

.calc-subheader{
  text-align: center;
  background-color: black;
  font-size: 14px;
}

.calc-row{
  display:flex;
  text-align: left;

}
.calc-label{
  display:flex;
  background-color: black;
  width: auto;
  height: 30%;
  text-align: left;
  position: relative;
  left: -30px;
  font-size: 14px;

}
.calc-label-small{
  background-color: black;
  width: auto;
  height: 40%;
  margin: auto;
  font-size: 20px;

}
.calc-container{
background-image: url(https://www.menshealth.com/sites/menshealth.com/files/styles/slideshow-desktop/public/3-more-protein.jpg?itok=0kPwqyaT);
background-position: center;
position: relative;
background-repeat: no-repeat;
background-size: cover;
border-radius: 40px;
}
.calc-containerw{
background-image: url(https://il8.picdn.net/shutterstock/videos/3042673/thumb/1.jpg);
background-position: center;
position: relative;
background-repeat: no-repeat;
background-size: cover;
border-radius: 40px;
}
.calc-containerc{
background-image: url(http://previews.123rf.com/images/iqoncept/iqoncept1409/iqoncept140900080/31544906-Carbs-word-on-a-scale-to-illustrate-eating-too-much-carbohydrates-in-your-diet-and-needing-to-cut-on-Stock-Photo.jpg);
background-position: center;
position: relative;
background-repeat: no-repeat;
background-size: cover;
border-radius: 40px;

}

/* Create three columns of equal width */
.columns {
    text-align: center;
    width: 33%;
    display: inline-block;
    justify-content: center;
    position: relative;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 5px solid green;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
    background-color: green;
    color: black;
    font-size: 25px;
    font-weight: bolder;
}

/* List items */
.price li {
    border-bottom: 3px solid green;
    padding: 20px;
    text-align: center;
    display: block;
    position: relative;
    margin: auto;
}

#myUL{
  background-color: green;
  border-bottom: 5px solid green;
  border-top: 5px solid green;
  border-left: 5px solid green;
  border-right: 5px solid green;
  width: 600px;
  display: inline-block;

}

#ton.addBtn{
  background-color: black;
  border-top: 7px solid silver;
  border-bottom: 7px solid silver;
  border-left: 10px solid silver;
  border-right: 10px solid silver;
  border-style: ridge;
  border-color: silver;
  border-width: thick;
  padding: 5px 15px;
font-size: 24px;
text-align: center;
cursor: crosshair;
outline: none;
background-color: #4CAF50;
border-radius: 15px;
box-shadow: 5px 7px #999;

}
#ton.addBtn:hover {background-color: black;}

#ton.addBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

li{
  color: silver;
  font-size: 16px;
  background-color: black;
  border-bottom: 4px solid green;
  border-style:ridge;
  border-radius: 18px;
}

/* Grey list item */
.price .grey {
    background-color: black;
    font-size: 20px;
}

/* The "Sign Up" button */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
