<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<img src="http://shawndell-londell.weebly.com/uploads/8/6/4/2/86427402/17e4fa0f-e274-4604-bdd5-93da8f8ca743-561-0000002c19a5729d.png">
<h1> <%= link_to "START YOUR TRAINING", posts_path %> </h1>


<h2>Personal Trainer app</h2>
<img src="http://shawndell-londell.weebly.com/uploads/8/6/4/2/86427402/17e4fa0f-e274-4604-bdd5-93da8f8ca743-561-0000002c19a5729d.png">

 <h6>SHAWNDELL BOYD:
    I attended Central State University in Wilberforce, OH and graduated in 2006 with a Bachelor’s in Psychology.
    I got a job right out of college and didn’t enjoy it and I set myself on a different career path.
    I decide to become a personal trainer and I’ve loved it ever since. I’m nationally certified personal trainer by American Aerobic Association International (AAAI) & International Sports Medicine Association (ISMA).
    In my 8 years I have trained all different type of clients from clients rehabbing from injuries, basketball players, professional MMA fighters, the working class, and power-lifters.
    I got into training because I love seeing clients become happy with their own image and I love to see people push themselves when they think they can’t push anymore.
  </h6>
  </body>
</html>
