<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title></title>

  </head>
  <body>

<h2>


<img src="https://media.giphy.com/media/xdfCgNiifvmJa/giphy.gif">
</h2>

    <h2>
      <img src="/stylesheets/images/17841540_10154703973711713_1224682432_n.jpg">

     SHAWNDELL BOYD:
        I attended Central State University in Wilberforce, OH and graduated in 2006 with a Bachelor’s in Psychology.
        I got a job right out of college and didn’t enjoy it and I set myself on a different career path.
        I decide to become a personal trainer and I’ve loved it ever since. I’m nationally certified personal trainer by American Aerobic Association International (AAAI) & International Sports Medicine Association (ISMA).
        In my 8 years I have trained all different type of clients from clients rehabbing from injuries, basketball players, professional MMA fighters, the working class, and power-lifters.
        I got into training because I love seeing clients become happy with their own image and I love to see people push themselves when they think they can’t push anymore.
      </h2>

<h2>
<img src="https://media.giphy.com/media/4OakQbV3FqrHa/giphy.gif">
</h2>




  </body>
</html>
