<html>
 <head>
   <meta charset="utf-8">
   <title>Shawndell</title>

</head>
 <body>
   <div id="bar">

<div class="dropdown">
  <button class="dropbtn">TOP TRAINING EXERCISES</button>
  <div class="dropdown-content">
   <button id="button1">Best Leg Workout</button>
   <button id="button2">Best Chest Workout</button>
   <button id="button3">Best Ab Workout</button>
   <button id="button4">Best Tricep Workout</button>
   <button id="button5">Best Bicep Workout</button>
   <button id="button6">Best Back Workout</button>
   <button id="button7">Best Shoulder Workout</button>
   </div>
   </h3>
   </div>
   </div>

    <div id="hide">

<main>
<h2>
<div id="commands">
  <h2>Voice Commands</h2>
  <div id="loader"></div>
     Play songs with voice commands!
     Use the commands below. Remember to allow the use of the microphone.</p>
    <h2>For Example "Play Drake"</h2>

<h2>Say "Stop" to stop the music</h2>
        <p>Play "song name"</p>
      <p> Play "song name"   By "artist name"</p>

</div>
<div id="conversation"></div>
</main>

</h2>
<div>
  <h2>
      <div id="myDIV" class="header">
     <input type="text" id="myInput" placeholder="Reminder List...">
     <span id="ton" class="addBtn">ADD</span>
   </div>

   <ul id="myUL">
     <li>Hit the gym</li>
     <li class="checked">80 Percent training</li>
     <li>High Protien Diet</li>
     <li>Drink a Gallon of water</li>
     <li>20 minutes of cardio</li>
     <li>One Rep max lifts</li>
   </ul>
  </div>
  </h2>


 <div class="controls">
   <h4 id="timer">0</h4>
   <h4> STOP WATCH CONTROLS</h4>
   <button id="reset">RESET</button>
   <button id="start">START</button>
   <button id="pause">STOP</button>
 </div>



</div>

<h2>
  <%= link_to "SHAWNDELL'S TRAINING PROGRAMS", new_post_path %>

</h2>
</div>
   <div id="show1" class="hidden newbuttons">


    <h2>
      Top Leg Exercise: SQUATS! <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1815810388703185%2F&show_text=0&width=560" width="450" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </h2>

   </div>

   <div id="show2" class="hidden newbuttons">
      <h2>Top Chest Exercise: BENCH PRESS! <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1830347050582852%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  </h2>

   </div>
   <div id="show3" class="hidden newbuttons">
    <h2>Top Abdominal Exercise One:
    </h2>


   </div>
   <div id="show4" class="hidden newbuttons">
    <h2>Top Tricep Exercise: Tricep Extensions <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1780321878918703%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </h2>

  </div>
  <div id="show5" class="hidden newbuttons">
  <h2>  Biceps Exercise One:
  </h2>


  </div>
  <div id="show6" class="hidden newbuttons">
    <h2>Top Back Exercise: Deadlifts <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1851762025108021%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
   </h2>

  </div>
  <div id="show7" class="hidden newbuttons">
    <h2>Top Shoulder Exercise: Dumbell Shoulder Press<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1765759890374902%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </h2>


   </div>


   <footer>Professional Personal Training</footer>

 </body>
</html>



      <header> Shawndell's Pro Fitness Training </header>
