
<html>
 <head>
   <meta charset="utf-8">
   <title>Shawndell</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 </head>
 <body>
  <h2>
    <div id="myDIV" class="header">
   <input type="text" id="myInput" placeholder="To Do List...">
   <span id="ton" class="addBtn">ADD</span>
 </div>

 <ul id="myUL">
   <li>Hit the gym</li>
   <li class="checked">80 Percent training</li>
   <li>High Protien Diet</li>
   <li>Drink a Gallon of water</li>
   <li>20 minutes of cardio</li>
   <li>One Rep max lifts</li>
 </ul>
</div>
</h2>

   <div id="bar">

<div class="dropdown">
  <button class="dropbtn">TRAINING EXERCISES</button>
  <div class="dropdown-content">
   <button id="button1">Leg Workouts</button>
   <button id="button2">Chest Workouts</button>
   <button id="button3">Ab Workouts</button>
   <button id="button4">Tricep Workouts</button>
   <button id="button5">Bicep Workouts</button>
   <button id="button6">Back Workouts</button>
   <button id="button7"> Shoulder Workouts</button>
   </div>
   </h3>
   </div>
   </div>

   <div id="hide">



<div id="convert">
<FORM name=form1 method="post">

  <p>PERCENTAGE CALCULATOR</p>
    % <INPUT placeholder="PERCENT" name=a> Of Your <INPUT placeholder="MAX LBS" name=b>
  Answer = <INPUT id="awnser" placeholder="YOU LIFT"  name=total1>
  <INPUT id="cal"onclick=perc1() type=button value=ENTER>
  <INPUT id="set" type=reset value=RESET ></FORM>
</div>

 <div class="controls">
   <p id="timer">0</p>
   <h4> STOP WATCH CONTROLS</h4>
   <button id="reset">RESET</button>
   <button id="start">START</button>
   <button id="pause">STOP</button>
 </div>
 <div class="dpg-calculator water-calculator">
 <h2 class="dpg-h2 calc-header">Water Intake calculator
 <div class="calc-container"><span class="calc-subheader">Weight</span>
 <div class="calc-row"><input type="radio" id="water-pounds" name="weight-system" value="pounds" checked="checked"> <label class="calc-label-small" for="water-pounds"><span></span>Pounds</label> <input type="radio" id="water-kilos" name="weight-system" value="kilos"> <label class="calc-label-small calc-float-right" for="water-kilos"><span></span>Kilograms</label></div>
 <div class="calc-row"><input type="text" name="weight" class="bbTextBox calc-textbox" placeholder="Pounds"></div>
 <span class="calc-subheader">Total Daily Workout Time</span>
 <div class="calc-row"><input type="radio" id="water-activity1" name="activity" value="L" checked="checked"> <label class="calc-label" for="water-activity1"><span></span>Less than an hour</label></div>
 <div class="calc-row"><input type="radio" id="water-activity2" name="activity" value="M"> <label class="calc-label" for="water-activity2"><span></span>One hour</label></div>
 <div class="calc-row"><input type="radio" id="water-activity3" name="activity" value="V"> <label class="calc-label" for="water-activity3"><span></span>More than an hour</label></div>
 <button class="bb-flat-btn calc-submit" type="button">Calculate</button>
 </h2>
 <h3 class="dpg-h3 calc-answer"></h3>
 </div>
 </div>
</div>

<h2>
  <%= link_to "SHAWNDELL'S TRAINING PROGRAMS", new_post_path %>

</h2>
</div>
   <div id="show1" class="hidden newbuttons">


    Leg Exercise One: SQUATS! <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1726066427677582%2F&show_text=0&width=400" width="400" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

    Leg Exercise Two: LUNGES!

    Leg Exercise Three: LEG PRESS!

    Leg Exercise Four: FRONT SQUATS!

    Leg Exercise Five: LEG EXSTENSIONS!

   </div>
   <div id="show2" class="hidden newbuttons">
    Chest Exercise One: <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1830347050582852%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>


    Chest Exercise Two: <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1832668873684003%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>


    Chest Exercise Three:<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1757580807859477%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

    Chest Exercise Four:

    Chest Exercise Five:

   </div>
   <div id="show3" class="hidden newbuttons">
    Abdominal Exercise One:

    Abdominal Exercise Two:

    Abdominal Exercise Three:

    Abdominal Exercise Four:

    Abdominal Exercise Five:

   </div>
   <div id="show4" class="hidden newbuttons">
    Triceps Exercise One: <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1780321878918703%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>



    Triceps Exercise Two:

    Triceps Exercise Three:

    Triceps Exercise Four:

    Triceps Exercise Five:

  </div>
  <div id="show5" class="hidden newbuttons">
    Biceps Exercise One:

    Biceps Exercise Two:

    Biceps Exercise Three:

    Biceps Exercise Four:

    Biceps Exercise Five:

  </div>
  <div id="show6" class="hidden newbuttons">
    Back Exercise One: <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1819316608352563%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

    Back Exercise Two: <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1750750821875809%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

    Back Exercise Three: <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1724938061123752%2F&show_text=0&width=400" width="400" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

    Back Exercise Four:

    Back Exercise Five:

  </div>
  <div id="show7" class="hidden newbuttons">
    Shoulder Exercise One:

    Shoulder Exercise Two:

    Shoulder Exercise Three:

    Shoulder Exercise Four:

    Shoulder Exercise Five:

   </div>



   <footer>Professional Personal Training</footer>

 </body>
</html>



      <header> Shawndell's Pro Fitness Training </header>
