
<html>
 <head>
   <meta charset="utf-8">
   <title>Shawndell</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 </head>
 <body>
  <h2>
    <div id="myDIV" class="header">
   <input type="text" id="myInput" placeholder="To Do List...">
   <span id="ton" class="addBtn">ADD</span>
 </div>

 <ul id="myUL">
   <li>Hit the gym</li>
   <li class="checked">80 Percent training</li>
   <li>High Protien Diet</li>
   <li>Drink a Gallon of water</li>
   <li>20 minutes of cardio</li>
   <li>One Rep max lifts</li>
 </ul>
</div>
</h2>

   <div id="bar">

<div class="dropdown">
  <button class="dropbtn">TRAINING EXERCISES</button>
  <div class="dropdown-content">
   <button id="button1">Leg Workouts</button>
   <button id="button2">Chest Workouts</button>
   <button id="button3">Ab Workouts</button>
   <button id="button4">Tricep Workouts</button>
   <button id="button5">Bicep Workouts</button>
   <button id="button6">Back Workouts</button>
   <button id="button7"> Shoulder Workouts</button>
   </div>
   </h3>
   </div>
   </div>

   <div id="hide">



<div id="convert">
<FORM name=form1 method="post">

  <p>MAX LIFT PERCENTAGE CALCULATOR</p>
   <INPUT placeholder="PERCENT" name=a> Of Your <INPUT placeholder="MAX LBS" name=b>
  Answer = <INPUT id="awnser" placeholder="YOU LIFT"  name=total1>
  <INPUT id="cal"onclick=perc1() type=button value=ENTER>
  <INPUT id="set" type=reset value=RESET ></FORM>
</div>

 <div class="controls">
   <p id="timer">0</p>
   <h4> STOP WATCH CONTROLS</h4>
   <button id="reset">RESET</button>
   <button id="start">START</button>
   <button id="pause">STOP</button>
 </div>
 <div id="DPG">

<div class="test-intro">


</div>
<div class="test-hidden">

<div class="dpg-calculator protein-calculator">
<h2>
  <p class="dpg-h2 calc-header">Protein Intake Calculator</p>
<div class="calc-container"><span class="calc-subheader">AGE</span>
<div class="calc-row"><input class="bbTextBox calc-textbox" name="age" placeholder="YEARS OLD" value="" type="text"></div>
<span class="calc-subheader">SEX</span>
<div class="calc-row"><input id="protein-male" name="sex" value="M" checked="checked" type="radio"> <label class="calc-label-small" for="protein-male"><span></span>MALE</label> <input id="protein-female" name="sex" value="F" type="radio"> <label class="calc-label-small calc-float-right" for="protein-female"><span></span>FEMALE</label></div>
<span class="calc-subheader">HEIGHT</span>
<div class="calc-row"><input id="protein-feet" name="height-system" value="feet" checked="checked" type="radio"> <label class="calc-label-small" for="protein-feet"><span></span>FEET</label> <input id="protein-meters" name="height-system" value="meters" type="radio"> <label class="calc-label-small calc-float-right" for="protein-meters"><span></span>METERS</label></div>
<div class="calc-row"><input class="bbTextBox calc-textbox-half" name="height-tens" placeholder="FEET" value="" type="text"> <input class="bbTextBox calc-textbox-half calc-float-right" name="height-units" placeholder="INCHES" value="" type="text"></div>
<span class="calc-subheader">WEIGHT</span>
<div class="calc-row"><input id="protein-pounds" name="weight-system" value="pounds" checked="checked" type="radio"> <label class="calc-label-small" for="protein-pounds"><span></span>POUNDS</label> <input id="protein-kilos" name="weight-system" value="kilos" type="radio"> <label class="calc-label-small calc-float-right" for="protein-kilos"><span></span>KILOGRAMS</label></div>
<div class="calc-row"><input name="weight" class="bbTextBox calc-textbox" placeholder="POUNDS" type="text"></div>
<span class="calc-subheader">GOAL</span>
<div class="calc-row"><input id="protein-goal1" name="goal" value="fat-loss" checked="checked" type="radio"> <label class="calc-label" for="protein-goal1"><span></span>Fat Loss</label></div>
<div class="calc-row"><input id="protein-goal2" name="goal" value="maintenance" type="radio"> <label class="calc-label" for="protein-goal2"><span></span>Build Lean Muscle </label></div>
<div class="calc-row"><input id="protein-goal3" name="goal" value="gainz" type="radio"> <label class="calc-label" for="protein-goal3"><span></span>Muscle Gains Over EveryThing</label></div>
<span class="calc-subheader">Activity Level</span>
<div class="calc-row"><input id="protein-activity1" name="activity" value="L" checked="checked" type="radio"> <label class="calc-label" for="protein-activity1"><span></span>Lightly active (moderate exercise but sedentary job)</label></div>
<div class="calc-row"><input id="protein-activity2" name="activity" value="M" type="radio"> <label class="calc-label" for="protein-activity2"><span></span>Moderately active (intense exercise but sedentary job)</label></div>
<div class="calc-row"><input id="protein-activity3" name="activity" value="V" type="radio"> <label class="calc-label" for="protein-activity3"><span></span>Very active (moderate exercise and active job)</label></div>
<div class="calc-row"><input id="protein-activity4" name="activity" value="E" type="radio"> <label class="calc-label" for="protein-activity4"><span></span>Extra active (intense exercise and active job)</label></div>
<button class="bb-flat-btn calc-submit" type="button">CALCULATE</button>
</h2>
<h3 class="dpg-h3 calc-answer"></h3>
</div>
</div>


<div class="dpg-calculator water-calculator">
<h2>
<p class="dpg-h2 calc-header">Water Intake Calculator</p>
<div class="calc-containerw"><span class="calc-subheader">WEIGHT</span>
<div class="calc-row"><input type="radio" id="water-pounds" name="weight-system" value="pounds" checked="checked"> <label class="calc-label-small" for="water-pounds"><span></span>POUNDS</label> <input type="radio" id="water-kilos" name="weight-system" value="kilos"> <label class="calc-label-small calc-float-right" for="water-kilos"><span></span>KILOGRAMS</label></div>
<div class="calc-row"><input type="text" name="weight" class="bbTextBox calc-textbox" placeholder="POUNDS"></div>
<span class="calc-subheader">Total Daily Workout Time</span>
<div class="calc-row"><input type="radio" id="water-activity1" name="activity" value="L" checked="checked"> <label class="calc-label" for="water-activity1"><span></span>Less than an hour</label></div>
<div class="calc-row"><input type="radio" id="water-activity2" name="activity" value="M"> <label class="calc-label" for="water-activity2"><span></span>One hour</label></div>
<div class="calc-row"><input type="radio" id="water-activity3" name="activity" value="V"> <label class="calc-label" for="water-activity3"><span></span>More than an hour</label></div>
<button class="bb-flat-btn calc-submit" type="button">CALCULATE</button>
</h2>
<h3 class="dpg-h3 calc-answer"></h3>
</div>
</div>


<div class="dpg-calculator carb-calculator">
<h2>
<p class="dpg-h2 calc-header">Carbohydrate Intake Calculator</p>
<div class="calc-containerc"><span class="calc-subheader">AGE</span>
<div class="calc-row"><input class="bbTextBox calc-textbox" name="age" placeholder="YEARS OLD" value="" type="text"></div>
<span class="calc-subheader">SEX</span>
<div class="calc-row"><input id="carb-male" name="sex" value="M" checked="checked" type="radio"> <label class="calc-label-small" for="carb-male"><span></span>MALE</label> <input id="carb-female" name="sex" value="F" type="radio"> <label class="calc-label-small calc-float-right" for="carb-female"><span></span>FEMALE</label></div>
<span class="calc-subheader">HEIGHT</span>
<div class="calc-row"><input id="carb-feet" name="height-system" value="feet" checked="checked" type="radio"> <label class="calc-label-small" for="carb-feet"><span></span>FEET</label> <input id="carb-meters" name="height-system" value="meters" type="radio"> <label class="calc-label-small calc-float-right" for="carb-meters"><span></span>METERS</label></div>
<div class="calc-row"><input class="bbTextBox calc-textbox-half" name="height-tens" placeholder="FEET" value="" type="text"> <input class="bbTextBox calc-textbox-half calc-float-right" name="height-units" placeholder="INCHES" value="" type="text"></div>
<span class="calc-subheader">WEIGHT</span>
<div class="calc-row"><input id="carb-pounds" name="weight-system" value="pounds" checked="checked" type="radio"> <label class="calc-label-small" for="carb-pounds"><span></span>POUNDS</label> <input id="carb-kilos" name="weight-system" value="kilos" type="radio"> <label class="calc-label-small calc-float-right" for="carb-kilos"><span></span>KILOGRAMS</label></div>
<div class="calc-row"><input name="weight" class="bbTextBox calc-textbox" placeholder="POUNDS" type="text"></div>
<span class="calc-subheader">GOAL</span>
<div class="calc-row"><input id="carb-goal1" name="goal" value="fat-loss" checked="checked" type="radio"> <label class="calc-label" for="carb-goal1"><span></span>Fat Loss</label></div>
<div class="calc-row"><input id="carb-goal2" name="goal" value="maintenance" type="radio"> <label class="calc-label" for="carb-goal2"><span></span> Build Lean Muscle </label></div>
<div class="calc-row"><input id="carb-goal3" name="goal" value="gainz" type="radio"> <label class="calc-label" for="carb-goal3"><span></span>Muscle Gains Over EveryThing</label></div>
<span class="calc-subheader">Activity Level</span>
<div class="calc-row"><input id="carb-activity1" name="activity" value="L" checked="checked" type="radio"> <label class="calc-label" for="carb-activity1"><span></span>Lightly active (moderate exercise but sedentary job)</label></div>
<div class="calc-row"><input id="carb-activity2" name="activity" value="M" type="radio"> <label class="calc-label" for="carb-activity2"><span></span>Moderately active (intense exercise but sedentary job)</label></div>
<div class="calc-row"><input id="carb-activity3" name="activity" value="V" type="radio"> <label class="calc-label" for="carb-activity3"><span></span>Very active (moderate exercise and active job)</label></div>
<div class="calc-row"><input id="carb-activity4" name="activity" value="E" type="radio"> <label class="calc-label" for="carb-activity4"><span></span>Extra active (intense exercise and active job)</label></div>
<button class="bb-flat-btn calc-submit" type="button">CALCULATE</button>
</h2>
<h3 class="dpg-h3 calc-answer"></h3>
</div>
</div>

</div>
</div>






</div>

<h2>
  <%= link_to "SHAWNDELL'S TRAINING PROGRAMS", new_post_path %>

</h2>
</div>
   <div id="show1" class="hidden newbuttons">


    Leg Exercise One: SQUATS! <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1726066427677582%2F&show_text=0&width=400" width="400" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

    Leg Exercise Two: LUNGES!

    Leg Exercise Three: LEG PRESS!

    Leg Exercise Four: FRONT SQUATS!

    Leg Exercise Five: LEG EXSTENSIONS!

   </div>
   <div id="show2" class="hidden newbuttons">
    Chest Exercise One: <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1830347050582852%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>


    Chest Exercise Two: <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1832668873684003%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>


    Chest Exercise Three:<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1757580807859477%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

    Chest Exercise Four:

    Chest Exercise Five:

   </div>
   <div id="show3" class="hidden newbuttons">
    Abdominal Exercise One:

    Abdominal Exercise Two:

    Abdominal Exercise Three:

    Abdominal Exercise Four:

    Abdominal Exercise Five:

   </div>
   <div id="show4" class="hidden newbuttons">
    Triceps Exercise One: <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1780321878918703%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>



    Triceps Exercise Two:

    Triceps Exercise Three:

    Triceps Exercise Four:

    Triceps Exercise Five:

  </div>
  <div id="show5" class="hidden newbuttons">
    Biceps Exercise One:

    Biceps Exercise Two:

    Biceps Exercise Three:

    Biceps Exercise Four:

    Biceps Exercise Five:

  </div>
  <div id="show6" class="hidden newbuttons">
    Back Exercise One: <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1819316608352563%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

    Back Exercise Two: <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1750750821875809%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

    Back Exercise Three: <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1724938061123752%2F&show_text=0&width=400" width="400" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

    Back Exercise Four:

    Back Exercise Five:

  </div>
  <div id="show7" class="hidden newbuttons">
    Shoulder Exercise One:

    Shoulder Exercise Two:

    Shoulder Exercise Three:

    Shoulder Exercise Four:

    Shoulder Exercise Five:

   </div>



   <footer>Professional Personal Training</footer>

 </body>
</html>



      <header> Shawndell's Pro Fitness Training </header>
