<h2><%= link_to "Back To Training ", posts_path %> </h2>

<div class="columns">
  <ul class="price">
    <li class="header">Bodybuilding</li>
    <li class="grey">$ 9.99 / year</li>
    <li>Big Back Program</li>
    <li>Killer Abs Program</li>
    <li>Giant Arms Program</li>
    <li>Full Body Program</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>
<div class="columns">
  <ul class="price">
    <li class="header">Physique</li>
    <li class="grey">$ 9.99 / year</li>
    <li>Tone Leg Program</li>
    <li>Cut Abs Program</li>
    <li>Fat Burning Program</li>
    <li>Total Body Program</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>
<div class="columns">
  <ul class="price">
    <li class="header">Powerlifting</li>
    <li class="grey">$ 9.99 / year</li>
    <li>Big Bench Program</li>
    <li>Max Deadlift Program</li>
    <li>Squat Boost Program</li>
    <li>Accessory Workouts</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>




<%= render "form" %>
