
<%= render "form" %>
<div class="fix">
<div class="columns">
  <ul class="price">
    <h2 class="header"> Bodybuilding Programs</h2>
    <h6> $ 79.99 / year</h6>
    <h6>Big Back </h6>
    <h6>Killer Abs </h6>
    <h6>Giant Arms </h6>
    <h6>Full Body </h6>

  </ul>
</div>
<div class="columns">
  <ul class="price">
    <h2 class="header">Physique Programs</h2>
    <h6>$ 79.99 / year</h6>
    <h6>Tone Leg</h6>
    <h6>Cut Abs </h6>
    <h6>Fat Burning </h6>
    <h6>Total Body </h6>

  </ul>
</div>
<div class="columns">
  <ul class="price">
    <h2 class="header"> Powerlifting Programs</h2>
    <h6>$ 79.99 / year</h6>
    <h6>Big Bench </h6>
    <h6>Max Deadlift</h6>
    <h6>Squat Boost </h6>
    <h6>Bonus Power </h6>

  </ul>
</div>
</div>


<div id="bar">

<div class="dropdown">
<button class="dropbtn">Percentage Calculators</button>
<div class="dropdown-content">
<button id="button8">MAX LIFT PERCENTAGE CALCULATOR</button>
<button id="button9">Protein Intake Calculator</button>
<button id="button10">Water Intake Calculator</button>
<button id="button11">Carbohydrate Intake Calculator</button>
</div>
</h3>
</div>
</div>

<div id="hide2">

 <div id="show8" class="hidden newbuttons">

<div id="convert">
<FORM name=form1 method="post">

  <p>MAX LIFT PERCENTAGE CALCULATOR</p>
   <INPUT placeholder="PERCENT" name=a> Of Your <INPUT placeholder="MAX LBS" name=b>
  Answer = <INPUT id="awnser" placeholder="YOU LIFT"  name=total1>
  <INPUT id="cal"onclick=perc1() type=button value=ENTER>
  <INPUT id="set" type=reset value=RESET ></FORM>
</div>
</div>

<div id="show9" class="hidden newbuttons">
<div id="DPG">

<div class="test-intro">


</div>
<div class="test-hidden">

<div class="dpg-calculator protein-calculator">
<h2>
 <p class="dpg-h2 calc-header">Protein Intake Calculator</p>
<div class="calc-container"><span class="calc-subheader">AGE</span>
<div class="calc-row"><input class="bbTextBox calc-textbox" name="age" placeholder="YEARS OLD" value="" type="text"></div>
<span class="calc-subheader">SEX</span>
<div class="calc-row"><input id="protein-male" name="sex" value="M" checked="checked" type="radio"> <label class="calc-label-small" for="protein-male"><span></span>MALE</label> <input id="protein-female" name="sex" value="F" type="radio"> <label class="calc-label-small calc-float-right" for="protein-female"><span></span>FEMALE</label></div>
<span class="calc-subheader">HEIGHT</span>
<div class="calc-row"><input id="protein-feet" name="height-system" value="feet" checked="checked" type="radio"> <label class="calc-label-small" for="protein-feet"><span></span>FEET</label> <input id="protein-meters" name="height-system" value="meters" type="radio"> <label class="calc-label-small calc-float-right" for="protein-meters"><span></span>METERS</label></div>
<div class="calc-row"><input class="bbTextBox calc-textbox-half" name="height-tens" placeholder="FEET" value="" type="text"> <input class="bbTextBox calc-textbox-half calc-float-right" name="height-units" placeholder="INCHES" value="" type="text"></div>
<span class="calc-subheader">WEIGHT</span>
<div class="calc-row"><input id="protein-pounds" name="weight-system" value="pounds" checked="checked" type="radio"> <label class="calc-label-small" for="protein-pounds"><span></span>POUNDS</label> <input id="protein-kilos" name="weight-system" value="kilos" type="radio"> <label class="calc-label-small calc-float-right" for="protein-kilos"><span></span>KILOGRAMS</label></div>
<div class="calc-row"><input name="weight" class="bbTextBox calc-textbox" placeholder="POUNDS" type="text"></div>
<span class="calc-subheader">GOAL</span>
<div class="calc-row"><input id="protein-goal1" name="goal" value="fat-loss" checked="checked" type="radio"> <label class="calc-label" for="protein-goal1"><span></span>Fat Loss</label></div>
<div class="calc-row"><input id="protein-goal2" name="goal" value="maintenance" type="radio"> <label class="calc-label" for="protein-goal2"><span></span>Build Lean Muscle </label></div>
<div class="calc-row"><input id="protein-goal3" name="goal" value="gainz" type="radio"> <label class="calc-label" for="protein-goal3"><span></span>Muscle Gains Over EveryThing</label></div>
<span class="calc-subheader">Activity Level</span>
<div class="calc-row"><input id="protein-activity1" name="activity" value="L" checked="checked" type="radio"> <label class="calc-label" for="protein-activity1"><span></span>Lightly Active... Light Exercise With Desk A Job</label></div>
<div class="calc-row"><input id="protein-activity2" name="activity" value="M" type="radio"> <label class="calc-label" for="protein-activity2"><span></span>Moderately Active...Intense Exercise & A Desk Job</label></div>
<div class="calc-row"><input id="protein-activity3" name="activity" value="V" type="radio"> <label class="calc-label" for="protein-activity3"><span></span>Very Active...Moderate Exercise With An Active Job</label></div>
<div class="calc-row"><input id="protein-activity4" name="activity" value="E" type="radio"> <label class="calc-label" for="protein-activity4"><span></span>Extremely Active...Intense Exercise With An Active Job</label></div>
<button class="bb-flat-btn calc-submit" type="button">CALCULATE</button>
</h2>
<h3 class="dpg-h3 calc-answer"></h3>
</div>
</div>
</div>
</div>
</div>

<div id="show10" class="hidden newbuttons">
<div class="dpg-calculator water-calculator">
<h2>
<p class="dpg-h2 calc-header1">Water Intake Calculator</p>
<div class="calc-containerw"><span class="calc-subheader">WEIGHT</span>
<div class="calc-row"><input type="radio" id="water-pounds" name="weight-system" value="pounds" checked="checked"> <label class="calc-label-small" for="water-pounds"><span></span>POUNDS</label> <input type="radio" id="water-kilos" name="weight-system" value="kilos"> <label class="calc-label-small calc-float-right" for="water-kilos"><span></span>KILOGRAMS</label></div>
<div class="calc-row"><input type="text" name="weight" class="bbTextBox calc-textbox" placeholder="POUNDS"></div>
<span class="calc-subheader">Total Daily Workout Time</span>
<div class="calc-row"><input type="radio" id="water-activity1" name="activity" value="L" checked="checked"> <label class="calc-label" for="water-activity1"><span></span>Less Than An Hour</label></div>
<div class="calc-row"><input type="radio" id="water-activity2" name="activity" value="M"> <label class="calc-label" for="water-activity2"><span></span>One Hour</label></div>
<div class="calc-row"><input type="radio" id="water-activity3" name="activity" value="V"> <label class="calc-label" for="water-activity3"><span></span>More Than An Hour</label></div>
<button class="bb-flat-btn calc-submit" type="button">CALCULATE</button>
</h2>
<h3 class="dpg-h3 calc-answer"></h3>
</div>
</div>
</div>

<div id="show11" class="hidden newbuttons">
<div class="dpg-calculator carb-calculator">
<h2>
<p class="dpg-h2 calc-header2">Carbohydrate Intake Calculator</p>
<div class="calc-containerc"><span class="calc-subheader">AGE</span>
<div class="calc-row"><input class="bbTextBox calc-textbox" name="age" placeholder="YEARS OLD" value="" type="text"></div>
<span class="calc-subheader">SEX</span>
<div class="calc-row"><input id="carb-male" name="sex" value="M" checked="checked" type="radio"> <label class="calc-label-small" for="carb-male"><span></span>MALE</label> <input id="carb-female" name="sex" value="F" type="radio"> <label class="calc-label-small calc-float-right" for="carb-female"><span></span>FEMALE</label></div>
<span class="calc-subheader">HEIGHT</span>
<div class="calc-row"><input id="carb-feet" name="height-system" value="feet" checked="checked" type="radio"> <label class="calc-label-small" for="carb-feet"><span></span>FEET</label> <input id="carb-meters" name="height-system" value="meters" type="radio"> <label class="calc-label-small calc-float-right" for="carb-meters"><span></span>METERS</label></div>
<div class="calc-row"><input class="bbTextBox calc-textbox-half" name="height-tens" placeholder="FEET" value="" type="text"> <input class="bbTextBox calc-textbox-half calc-float-right" name="height-units" placeholder="INCHES" value="" type="text"></div>
<span class="calc-subheader">WEIGHT</span>
<div class="calc-row"><input id="carb-pounds" name="weight-system" value="pounds" checked="checked" type="radio"> <label class="calc-label-small" for="carb-pounds"><span></span>POUNDS</label> <input id="carb-kilos" name="weight-system" value="kilos" type="radio"> <label class="calc-label-small calc-float-right" for="carb-kilos"><span></span>KILOGRAMS</label></div>
<div class="calc-row"><input name="weight" class="bbTextBox calc-textbox" placeholder="POUNDS" type="text"></div>
<span class="calc-subheader">GOAL</span>
<div class="calc-row"><input id="carb-goal1" name="goal" value="fat-loss" checked="checked" type="radio"> <label class="calc-label" for="carb-goal1"><span></span>Fat Loss</label></div>
<div class="calc-row"><input id="carb-goal2" name="goal" value="maintenance" type="radio"> <label class="calc-label" for="carb-goal2"><span></span> Build Lean Muscle </label></div>
<div class="calc-row"><input id="carb-goal3" name="goal" value="gainz" type="radio"> <label class="calc-label" for="carb-goal3"><span></span>Muscle Gains Over EveryThing</label></div>
<span class="calc-subheader">ACTIVITY LEVEL</span>
<div class="calc-row"><input id="carb-activity1" name="activity" value="L" checked="checked" type="radio"> <label class="calc-label" for="carb-activity1"><span></span>Lightly Active... Light Exercise With Desk A Job</label></div>
<div class="calc-row"><input id="carb-activity2" name="activity" value="M" type="radio"> <label class="calc-label" for="carb-activity2"><span></span>Moderately Active...Intense Exercise & A Desk Job</label></div>
<div class="calc-row"><input id="carb-activity3" name="activity" value="V" type="radio"> <label class="calc-label" for="carb-activity3"><span></span>Very Active...Moderate Exercise With An Active Job</label></div>
<div class="calc-row"><input id="carb-activity4" name="activity" value="E" type="radio"> <label class="calc-label" for="carb-activity4"><span></span>Extremely Active...Intense Exercise With An Active Job</label></div>
<button class="bb-flat-btn calc-submit" type="button">CALCULATE</button>
</h2>
<h3 class="dpg-h3 calc-answer"></h3>
</div>
</div>

</div>
</div>
<h2>
<img src="https://media.giphy.com/media/LUJPUqFsWpc9a/giphy.gif" >
</h2>
<h2><%= link_to "Back To Training ", posts_path %> </h2>
