
<%= render "form" %>
<div class="columns">
  <ul class="price">
    <h2 class="header"> Bodybuilding Programs</h2>
    <h6> $ 79.99 / year</h6>
    <h6>Big Back </h6>
    <h6>Killer Abs </h6>
    <h6>Giant Arms </h6>
    <h6>Full Body </h6>

  </ul>
</div>
<div class="columns">
  <ul class="price">
    <h2 class="header">Physique Programs</h2>
    <h6>$ 79.99 / year</h6>
    <h6>Tone Leg</h6>
    <h6>Cut Abs </h6>
    <h6>Fat Burning </h6>
    <h6>Total Body </h6>

  </ul>
</div>
<div class="columns">
  <ul class="price">
    <h2 class="header"> Powerlifting Programs</h2>
    <h6>$ 79.99 / year</h6>
    <h6>Big Bench </h6>
    <h6>Max Deadlift</h6>
    <h6>Squat Boost </h6>
    <h6>Bonus Power </h6>

  </ul>
</div>


<h2>
<img src="https://media.giphy.com/media/LUJPUqFsWpc9a/giphy.gif" >
</h2>

<h2><%= link_to "Back To Training ", posts_path %> </h2>
